#*.zip
#*.rar
#*.docx
#test.py
#cws.pdf
#ExtraDataSet/
#Models/
#Results/
#__pycache__/
*.*
*/
!.gitignore
!train.txt
!dev.txt 
!test.txt 
!MyBIMM.py 
!MyHMM.py 
!MyTrain.py 
!MyUtils.py 
!README.md 
